.main__title {
  color: #386994;
}
.main--collapse,
.main--collapse:hover,
.main--collapse:focus {
  background-color: transparent;
  color: #386994;
  border: none;
  box-shadow: none;
  outline: none;
}
.card {
  border: none;
  outline: none;
}
.article__text {
  font-size: 18px;
  margin-left: 1rem;
  margin-right: 1rem;
}

span.bold {
  font-weight: 700;
  display: inline-block;
}

.icon-heart {
  cursor: pointer;
  font-size: 2rem;
  color: #5bb268 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.icon-heart--opacity {
  opacity: 1 !important;
  animation: animationHeart 0.5s forwards;
}
.icon-heart span {
  display: flex;
  position: absolute;
  transition: 0.3s all;
}
.icon-heart:hover span:last-child {
  opacity: 1;
}
.icon-heart span:last-child {
  opacity: 0;
}

@media only screen and (min-width: 768px) {
  .main__article {
    padding-top: 15px;
  }
  main > section {
    min-height: calc(100vh - 6.5rem);
  }
}

/* Servicios */

#servicios p {
  max-width: 350px;
  font-size: 20px;
}

@keyframes animationHeart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
