.footer {
  font-size: 0.8rem;
  gap: 1rem;
}
.footer p {
  height: 2rem;
}
.icon-argentina svg {
  width: 2rem;
  height: auto;
}
.icon-whatsapp {
  color: #5bb268;
  font-size: 1.5rem;
}
.icon-email {
  font-size: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .footer {
    font-size: 1.2rem;
    gap: 2rem;
  }
}