section#contacto > section {
  background-image: url("../../media/contacto_background.webp");
  background-size: cover;
  background-position: top center;
  margin: 120px 0;
  height: auto;
  width: 100%;
}
section#contacto::before {
  display: none;
}

button.btn-contacto {
  background-color: #5cb269;
  color: white;
  width: 9rem;
  height: 4rem;
  font-size: 24px;
}
.btn-contacto:hover {
  background-color: #407c49;
  color: white;
}

.form-control::placeholder {
  color: #343a40;
}

section.form-floating {
  width: 45%;
}

#contactMessage {
  resize: none;
}

@media only screen and (min-width: 768px) {
  form > section {
    width: 55% !important;
  }
}

@media only screen and (max-width: 768px) {
  form > section {
    align-items: center;
  }
  form > section > section {
    flex-direction: column;
  }
  section.form-floating {
    width: 100%;
    margin-bottom: 2rem;
  }
  .my-3 {
    margin: 0 !important;
  }
  .article__title {
    margin-bottom: 2rem;
  }
  button.btn-contacto {
    margin-top: 2rem !important;
  }
}