a,
i,
label,
p,
span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
}
h1,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
:target:before {
  content: "";
  display: block;
  margin-top: 90px;
  transition: all 0.5s ease;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.text-align-justify {
  text-align: justify;
}

.mr-0 {
  margin-right: 0 !important;
}